version: '3'

services:
    postgres:
        image: postgres:18
        container_name: finance-app-postgres
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - '${POSTGRES_PORT}:5432'
        volumes:
            - postgres-data:/var/lib/postgresql

volumes:
    postgres-data:
